{{input type='checkbox' checked=reverseSort}} Sort by Most-to-Least Answers
{{#each sortedQuestions as |question|}}
  <div class="displayBox">
    <li>{{question-tile question=question}} {{question-answers question}}</li>
  </div>
{{/each}}
