<div class="row">
  <div class="col-sm-6">
    <h1>About Epi-QA</h1>
      <hr>
    <p class="aboutBody"><a href="https://github.com/jaredbeckler/ember-epiQA2">Epi-QA</a> is a website built using <a href="http://ember-cli.com/">Ember.js</a>. It was built by Jared Beckler as he attended Epicodus.</p>
  </div>

  <div class="col-sm-6">
    <h1>About Jared</h1>
      <hr>
    <p class="aboutBody"><a href="https://github.com/jaredbeckler">Jared Beckler</a> is currently a Portland-based code school student at <a href="https://epicodus.com">Epicodus</a>. In his spare time he enjoys going hiking in the Gorge, having BBQ's with his roommates and friends, and finding new places to eat in the ever expanding city of Portland.</p>
  </div>
</div>
