<div class="jumbotron text-center">
  <div class="nav text-right">
    <h6 class="nav-links">
      {{#link-to 'bookmarks'}}Your Bookmarks{{/link-to}}
    </h6>
  </div>
  <div id="headerText">
    <h1 id="mainHeader">
      {{#link-to 'index'}}Epi-QA{{/link-to}}
    </h1>
      <br>
      <br>
      <p>A place to ask and answer questions</p>
  </div>
</div>

<div class="container">
  {{outlet}}
</div>
  <br>
  <br>
<div class="footer text-center">
  <p>Copyright &copy; 2016 | Jared Beckler | Epicodus | Portland, OR</p>
</div>
