<div class="jumbotron text-center">
  {{#link-to 'index'}}
    <h1 id="main-header">Epi-QA</h1>
  {{/link-to}}
    <br>
    <br>
  <p>A place to ask and answer questions</p>
</div>

<div class="container">
  {{outlet}}
</div>
  <br>
  <br>
<div class="footer text-center">
  <p>Copyright &copy; 2016 | Jared Beckler | Epicodus | Portland, OR</p>
</div>
