<div class="text-center">
  {{#if bookmarks}}
    <h1>Your bookmarked questions:</h1>
    {{bookmarks-display}}
  {{else}}
    <h1>You currently don't have any questions bookmarked!</h1>

    <h3>Get out there and mark some!</h3>
  {{/if}}
</div>
