<div class="row text-center">
  <div class="col-sm-6">
    <h2>Questions:</h2>
  </div>

  <div class="col-sm-6">
    <h2>Post a Question:</h2>
      {{new-question question=question saveQuestion2="saveQuestion3"}}
  </div>
</div>
